<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntegrefKrediOnay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EntegrefKrediOnay.Properties.Settings>
            <setting name="EntegreFProductName" serializeAs="String">
                <value />
            </setting>
            <setting name="VKN" serializeAs="String">
                <value />
            </setting>
            <setting name="MailAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionstring" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionstring2" serializeAs="String">
                <value />
            </setting>
            <setting name="DbName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="EntegrefSecretPhase" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="EntegrefAIPToken" serializeAs="String">
                <value />
            </setting>
            <setting name="VolantApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="VolantToken" serializeAs="String">
                <value />
            </setting>
        </EntegrefKrediOnay.Properties.Settings>
    </userSettings>
</configuration>